<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<body>
 <div class="parser">
	<h1>Dependency Parser for Bengali-English Code Mixing</h1>

  <p class="inputformat"> <b>Input format</b>: Sentence with normalized words concatenated by language ids : 'bn' for Bengali, 'en' for English. <br><b> For eg </b>: Fun_en demand_en oV_bn SunaweV_bn hayZa_bn mAJeV_bn mAJeV_bn. <br> Note: Bengali words in <a href="https://en.wikipedia.org/wiki/WX_notation"> WX notation</a>.</p> <br><br><br>
    <form action="{{ url_for('predict')}}"method="post">
       <input type="text" name="sentence" placeholder="type here" required="required" /> <br>
       <button type="submit" class="btn btn-primary btn-block btn-large">Parse</button>
    </form>

   <br>
   <textarea id="parsedoutput" readonly rows="15" cols="90">
      {{ parsed_text }}
   </textarea>

 </div>
 <div class="paper">
Any publication using this should cite the following paper: <br>
Ghosh, Urmi, Dipti Misra Sharma, and Simran Khanuja.  <cite>"Dependency Parser for Bengali-English Code-Mixed Data enhanced with a Synthetic Treebank."</cite> Proceedings of the 18th International Workshop on Treebanks and Linguistic Theories (TLT, SyntaxFest 2019). 2019. <br><br>

<a href="https://github.com/urmig/Bn-En-Parser"> Github Link to the project </a> <br> <br>
<a href="https://github.com/urmig/UD_bn-en"> Bn-En Code-Mixed Data </a> <br>

</div>


</body>
</html>
